.App {
  display: flex;
}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
