.App {
  display: flex;
  padding: 30px;
}

.todolist {
  margin: 10px;
}

/*.todolist > div {
  !*padding: 10px;*!
}*/
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}